## -*- shell-script -*- ######################################################
##                                                                          ##
##  WildFly bootstrap Script Configuration                                    ##
##                                                                          ##
##############################################################################
if [ "x$JBOSS_MODULES_SYSTEM_PKGS" = "x" ]; then
   JBOSS_MODULES_SYSTEM_PKGS="org.jboss.byteman"
fi

if [ "x$JAVA_OPTS" = "x" ]; then
                JAVA_OPTS="$JAVA_OPTS -Xms{{jvm_Xms}}m"
                JAVA_OPTS="$JAVA_OPTS -Xmx{{jvm_Xmx}}m"
                JAVA_OPTS="$JAVA_OPTS -XX:MinHeapFreeRatio=40"
                JAVA_OPTS="$JAVA_OPTS -XX:MaxHeapFreeRatio=80"
                JAVA_OPTS="$JAVA_OPTS -XX:NewRatio=8"
                JAVA_OPTS="$JAVA_OPTS -XX:SurvivorRatio=32"
                JAVA_OPTS="$JAVA_OPTS -XX:+UseG1GC"
                JAVA_OPTS="$JAVA_OPTS -XX:G1HeapRegionSize=4"
                JAVA_OPTS="$JAVA_OPTS -XX:InitiatingHeapOccupancyPercent=50"
                JAVA_OPTS="$JAVA_OPTS -Djava.net.preferIPv4Stack=true"
                JAVA_OPTS="$JAVA_OPTS -Dorg.jboss.resolver.warning=true"
                JAVA_OPTS="$JAVA_OPTS -Duser.timezone={{TIME_ZONE}}"
                JAVA_OPTS="$JAVA_OPTS -Djboss.modules.system.pkgs=$JBOSS_MODULES_SYSTEM_PKGS -Djava.awt.headless=true"
                JAVA_OPTS="$JAVA_OPTS -Djboss.server.default.config=standalone-full.xml"
	        JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address=0.0.0.0"
                JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address.management=0.0.0.0"
else
                echo "JAVA_OPTS already set in environment; overriding default settings with values: $JAVA_OPTS"
fi
